<h1>Add New Order</h1>
<form action="/orderdetail" method="post">
   <table>
<tr> <td> Order ID: </td> <td> <input type="text" name="order_id" required> </td> </tr>
<tr> <td> Product ID: </td> <td> <input type="text" name="product_id" required> </td> </tr>
<tr> <td> Sale Price: </td> <td> <input type="text" name="saleprice" required> </td> </tr>
<tr> <td> Qty: </td> <td> <input type="text" name="qty" required> </td> </tr>

   </table>
   <button type="submit">Save</button>
</form>
