<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Our Story</h1>
    <p>U-Save Liquors is a family owned business which is managed by 
    two brothers JP and Rupen Patel who have been in the Liquor 
    store business for 15 years. As both JP and Rupen have an in-depth 
    knowledge of the Liquor store business including the day-to-day 
    operations and management side which includes marketing, staffing, 
    and consulting with various vendors. 
    Since 2011 U-Save Liquors has served as local and neighborhood 
    convenience store located in Machesney Park, IL. 
    We offer customers a unique buying experience, we proudly 
    serve a wide range of Craft Beers, Fine Wine, and Spirits 
    as well as Cigarettes and Cigars and other essential items.
    At U-Save Liquors is our #1 priority is customer service. 
    We cover all your beverage needs.</p>
  </body>
  
</html>
