<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>


    
 
  
    
  <section class="inner-page-banner">
    <div class="container">
        <h1 class="title-page">About Us</h1>
		<div class="bread-crumb">
			<a href="/">Home</a> /  <span>About Us</span>
		</div>
    </div>
  </section>
  
  <main id="main">
	<section class="counts pb-0">
      <div class="container">
		   <div class="section-title center-title text-left">										
					 <h2 class="mb-0">Welcome to U-Save Liquors</h2>											
				 </div>		
	     <div class="row">		
			 <div class="col-md-6">		
								
         <p>We are a family owned and operated business that strives to meet the needs of our customers. Best prices around. If it has alcohol, chances are we carry it or can get it for you! </p>	
         <p>Since 2011 U-Save Liquors has served as local and neighborhood convenience store located in Machesney Park, IL. We offer customers a unique buying experience, we proudly 
         serve a wide range of Craft Beers, Fine Wine, and Spirits as well as Cigarettes and Tobacco products and other essential items. At U-Save Liquors is our #1 priority is customer service.
         We cover all your beverage needs.</p>
         
         <div class="align">
         <img src="/images/usave2020.png" width="410" height="300"> 
         </div>
			 <p><br></p>
       </div>	
       

       
				 
			 
		  </div>
      </div>
    </section>
  </main>


  <body>
   
 
  </body>
  
</html>
