<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Contact Us</h1>
    <p>7904 N 2nd St</p>
    <p>Machesney Park, IL 61115</p>
    <p>(815)637-6162</p>
    <div class="column">
    
              <label for="fname">First Name</label>
              <input type="text" id="fname" name="firstname" placeholder="Your name.."><br><br>
              <label for="lname">Last Name</label>
              <input type="text" id="lname" name="lastname" placeholder="Your last name.."><br><br>
              <label for="lname">Phone Number</label>
              <input type="text" id="phone" name="phone" placeholder="Your phone number.."><br><br>
              <label for="subject">Message</label><br>
              <textarea id="subject" name="subject" placeholder="Write something.." style="height:120px"></textarea><br>
              <input type="submit" value="Submit">
      </div>
           
  </body>
</html>