<h1> Application Error </h1>

<p>Ewwww... something funky happened with the application. </p>

<hr>
<h2>Developer Attention</h2>

<p><%= message %></p>
<p><%= error.status %></p>
<pre><%= error.stack %></pre>
