<div id="footer" style="background-color:grey;">
        <a href="/help">Help</a>
        <a href="/privacy">Privacy</a>



      </div>
      <br>
      <div class="textwidget">JMSC Loyalty Mobile App Available:<br> <a href="https://apps.apple.com/br/app/jmsc-loyalty/id1308313731?l=en" target="_blank" 
        rel="noopener noreferrer"><img src="https://jmscpos.com/wp-content/uploads/2017/02/app-store.png" alt="itunes icon"></a> <a href="https://play.google.com/store/apps/details?id=com.jmsc.pos.loyaltyprogram&hl=en_US"
        target="_blank" rel="noopener noreferrer"><img src="https://jmscpos.com/wp-content/uploads/2017/02/google-play.png" alt="play store icon"></a></div>
<br>
<br>
 <div class="textwidget"><center><p>© 2011 - 2020 U-Save Liquor Mart. All rights reserved.   /  Web Design by Shivam Patel</p></center></div>
      



