<div id="footer" style="background-color:grey;">
  <a href="/help">Help</a>
  <a href="/privacy">Privacy</a>



</div>
<div class="footer-left">
    <h2><span>U-Save Liquor Mart</span></h2>
    	<p class="footer-links">
        <a href="/">Home</a>
        |
        <a href="/about">About Us</a>
        |
        <a href="/catalog">Catalog</a>
        |
        <a href="/contact">Contact</a>
        |
        <a href="/help">Help</a>
        |
        <a href="/privacy">Privacy</a>

      </p>
  </div>
<p>Email Us: <a href="mailto:usaveliquor16@gmail.com">support@usave.com</a></p>


    <h3>Payment Options</h3>
    <label for="fname">Accepted Cards</label>
    

         

     



      </div>
      <br>
      <div class="textwidget" align="right">JMSC Loyalty Mobile App Available:<br> <a href="https://apps.apple.com/br/app/jmsc-loyalty/id1308313731?l=en" target="_blank" 
        rel="noopener noreferrer"><img src="https://jmscpos.com/wp-content/uploads/2017/02/app-store.png" alt="itunes icon"></a> <a href="https://play.google.com/store/apps/details?id=com.jmsc.pos.loyaltyprogram&hl=en_US"
        target="_blank" rel="noopener noreferrer"><img src="https://jmscpos.com/wp-content/uploads/2017/02/google-play.png" alt="play store icon"></a></div>
<br>
<br>


 <div class="textwidget"><center><p>© 2020 U-Save Liquor Mart. All rights reserved.   /  Web Design by Shivam Patel</p></center></div>
      

