<table bgcolor='lightgray' width='100%'> <tr>
        <td width='20%' align='left'>
            <a href="/"><img src="/images/logo2.png" width="100" height="40"></a></td> 
        <td width='60%' align='center'><img src="/images/logo2.png"></td>
        <td width='10%' align='center'>Login Control</td>
        <td width='10%' align='center'>Cart Control</td>
        </tr></table>


        <form action="/search" method="post">
            <p> Search: <input type="text" name="searchcriteria"> <input type="submit" value="Go"> </p>
        </form>


    <ul>
    <li> <a href="/">Home</a> </li>
    <li> <a href="/about">About Us</a> </li>
    <li> <a href="/contact">Contact Us</a> </li>
    <li> <a href="/product">Product</a> </li>
    <li> <a href="/category">Category</a> </li>
    <li> <a href="/customer">Customer</a> </li>
    <li> <a href="/supplier">Supplier</a> </li>
    <li> <a href="/orderdetail">Order</a> </li>
    <li> <a href="/saleorder">Sale</a> </li>
    <li> <a href="/subscription">Subscription</a> </li>
    </ul>
    