
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<table bgcolor='lightgrey' width='100%'> <tr>
        <td width='20%' align='left'>
            <a href="/"><img src="/images/store.png" width="150" height="100" style="border: 0cm;"></a></td> 
        <td width='60%' align='center'><img src="/images/logo2.png" style="border: 0cm;"></td>
        <td width='10%' align='center'>
                    <% if(session.customer_id > 0) { %>
                            <b> Hello <b> <%= session.custname %>! </b> </br>
                            <a href="/customer/<%= session.customer_id %>/change">Update Profile</a> </b><br>
                            <a href='/customer/logout'>Logout</a> 
                            
                    <% } else { %>
                            <ul class="nav navbar-nav navbar-right">
                              <li><a href="/customer/register"><span class="fa fa-user-circle-o" style="font-size: 15px;"></span> Sign Up</a></li> 
                              <li><a href="/customer/login"><span class="fa fa-sign-in" style="font-size: 15px"></span> Login</a></li>
                            </ul>
                            <!--<a href='/customer/register'>New Customer</a> </br>
                            <a href='/customer/login'>Login</a> -->
                    <% } %>	
            
        </td>
        <td width='10%' align='center'><a href="/catalog/cart"><img src='/images/cart.png' height="24" width="24" style="border: 0cm;"/></a></td>
        </tr></table>

         <!-- Search Bar -->
        <!--<form action="/search" method="post">
            <p><input type="text" placeholder="Search" name="searchcriteria"> <input type="submit"  value="Go"> </p>
            
        </form>-->
        <!--<form action="/search" method="post">
            <input type="text" placeholder="Search.." name="searchcriteria"> 
            <button><i class="fa fa-search"></i></button>
          </form>-->
    
        

    <table width="100%"><tr bgcolor="#f0f3f5">
        <td width="100%">
    <!-- Top Nav -->
    <ul>
    <li> <a href="/">Home</a> </li>
    <li> <a href="/about">About Us</a> </li>
    <li> <a href="/catalog">Catalog</a> </li>
    <li> <a href="/contact">Contact Us</a> </li>
    <li> <a href="/browse">Browse Catagories</a> </li>
     <!-- Search Bar -->
    <div class="search-container">
        <form action="/search" method="post" style="text-align:right">
          <input type="text"  placeholder="Search.." name="searchcriteria">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>

      <!-- Admin Nav -->
    <% if (session.isadmin) { %>
		<td>
		<div class="dropdown">
			<button class="dropbtn">Admin</button>
				<div class="dropdown-content">
					<a href="/product">Product</a> 
					<a href="/category">Category</a>
					<a href="/customer">Customer</a>
					<a href="/supplier">Supplier</a>
					<a href="/saleorder">Sale Order</a>
					<a href="/orderdetail">Order Detail</a>
					<a href="/review">Review</a>
					<a href="/subscription">Subscription</a>
					<a href="/report">Report</a>
				</div>
		</div>
		</td>
	<% } %>
 </table>


   