<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <img src="/images/logo2.png">
    <p>Welcome to U-Save Liquor Mart - One stop shop that covers all of your beverage needs!</p>
    <p>Choose from our wide ranged selection! </p>

  </body>
  <div style="position: absolute; bottom: 0">
    <p><address>Page created by: Shivam Patel, April 14, 2019</address></p> 
  
  </div>
</html>
