<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>U-Save Liquor Mart - Beer,Wine,Spirits,Cigarettes,Cigars </h1>
    <p>Welcome to U-Save Liquor Mart - We cover all of your beverage needs!</p>
    <p>Choose from our wide ranged selection! </p>
  </body>
</html>
