<!DOCTYPE html>
<html>
  <head>
    <title>U-Save Liquor Mart</title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel='icon' href='/images/usaveicon.png'/>
  
  
  </head>
  <body bgcolor="gray"></body>
	<table bgcolor='white' width='100%'>
		<tr><td> <% include header %> </td></tr>
		<tr><td height='500' valign='top'> <%- body %> </td></tr>
		<tr><td> <% include footer %> </td> </tr>
	</table>
  </body>
</html>
