<h1>Add New Product</h1>
<form action="/product" method="post">
   <table>
<tr> <td> Product Name: </td> <td> <input type="text" name="productname" required> </td> </tr>
<tr> <td> Image: </td> <td> <input type="text" name="productimage" required>  </td> </tr>
<tr> <td> Description: </td> <td> <textarea name="item_description" rows="10" cols="30"> Description </textarea> </td> </tr>
<tr> <td> Category ID: </td> <td> <input type="number" name="category_id" required> </td> </tr>
<tr> <td> Supplier ID: </td> <td> <input type="number" name="supplier_id" required> </td> </tr>
<tr> <td> Sub Category 1: </td> <td> <input type="text" name="subcategory_1" required> </td> </tr>
<tr> <td> Sub Category 2: </td> <td> <input type="text" name="subcategory_2" required> </td> </tr>
<tr> <td> Status: </td> <td> <select  name="productstatus"  required>
                        <option selected disabled>Choose Status</option>
                        <option>In Stock</option>
                        <option>Discontinued</option>
                        <option>Limited Qty</option>
                        <option>On Order</option>
				        <option>Out of Stock</option>
                    </select> </td> </tr>
<tr> <td> Sale Price: </td> <td> <input type="text" name="saleprice" required> </td> </tr>
<tr> <td> Starting City: </td> <td> <input type="text" name="startingcity" required> </td> </tr>
<tr> <td> Destination City: </td> <td> <input type="text" name="destinationcity" required> </td> </tr>
<tr> <td> Duration: </td> <td> <input type="text" name="productduration" required> </td> </tr>
<tr> <td> Home Page Display: </td> <td> <input type="checkbox" name="homepage" value="1" > </td> </tr>

   </table>
   <button type="submit">Save</button>
</form>
