<h1>Add New Supplier</h1>
<form action="/supplier" method="post">
   <table>
<tr> <td> Company Name: </td> <td> <input type="text" name="companyname" required> </td> </tr>
<tr> <td> Point Of Contact: </td> <td> <input type="text" name="pointofcontact" required> </td> </tr>
<tr> <td> Website: </td> <td> <input type="text" name="website" required> </td> </tr>
<tr> <td> Phone: </td> <td> <input type="text" name="phone" required> </td> </tr>

   </table>
   <button type="submit">Save</button>
</form>
