<h1>Add New Subscription</h1>
<form action="/subscription" method="post">
   <table>
<tr> <td> Customer ID: </td> <td> <input type="text" name="customer_id" required> </td> </tr>
<tr> <td> Category ID: </td> <td> <input type="text" name="cateogry_id" required> </td> </tr>
<tr> <td> Subscribe Date: </td> <td> <input type="text" name="subscribedate" required> </td> </tr>
<tr> <td> Unsubscribe Date: </td> <td> <input type="text" name="unsubscribedate" required> </td> </tr>

   </table>
   <button type="submit">Save</button>
</form>
